@model TypedHTMLHelperControl.Models.JobModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
</head>
<body>
    <div> 
        @Model.Name
        <br />@Model.Password
        <br />@Model.Gender
        <br />@Model.Country
        <br />@Model.Skillset
        <br />@Model.TermsAccepted
    </div>
</body>
</html>
